<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62aa67">  <td>18/04/03 22:16:58</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.project.testcases.Testngdemo2@6d4b1c02]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/04/03 22:17:03</td>   <td>5136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.project.testcases.Testngdemo2@6d4b1c02]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/04/03 22:17:03</td>   <td>5177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.project.testcases.Testngdemo2@6d4b1c02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>18/04/03 22:17:03</td>   <td>5181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testngdemo2.invokeBrowser(utility.TestData)[pri:0, instance:com.project.testcases.Testngdemo2@6d4b1c02]">invokeBrowser</td> 
  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/04/03 22:17:07</td>   <td>9915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.project.testcases.Testngdemo2@6d4b1c02]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/04/03 22:17:12</td>   <td>14946</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.project.testcases.Testngdemo2@6d4b1c02]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
</table>
