<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>example suite 1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81b0a2">  <td>18/10/07 01:32:26</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.project.testcases.DevopsTest@6093dd95]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/07 01:32:26</td>   <td>413</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.project.testcases.DevopsTest@6093dd95]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/07 01:32:26</td>   <td>522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.project.testcases.DevopsTest@6093dd95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/10/07 01:32:26</td>   <td>525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DevopsTest.verifyHeaderText(utility.TestData)[pri:0, instance:com.project.testcases.DevopsTest@6093dd95]">verifyHeaderText</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/07 01:32:31</td>   <td>4886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.project.testcases.DevopsTest@6093dd95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/10/07 01:32:31</td>   <td>4909</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.project.testcases.DevopsTest@6093dd95]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
</table>
